.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header.App-header-new-releases {
  min-height: 20vh;
}

.App-h1-new-releases {
  padding-bottom: 40px;
}

.App-body {
  background-color: #282c34;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  font-size: 0.75rem !important;
  color: white;
  padding-top: 2vh;
}

.App-body > .App-carousel {
  position: inherit;
}

.App-carousel-image {
  width: 20%;
  margin-bottom: 160px;
}

.App-paragraph {
  font-size: 1rem;
  margin-bottom: 0rem;
}

.App-tracks {
  font-size: 0.75rem;
  margin-top: 0px;
  margin-left: 15%;
  margin-right: 15%;
}

.App-view-tracks-button {
  margin-bottom: 15px;
}

.App-tracks > table {
  margin-bottom: 0;
}

.App-recently-viewed-text {
  color: white !important;
  font-size: 1rem !important;
}

 .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
